a {
  display: flex;
  align-items: center;

  img {
    height: 40px;
    vertical-align: bottom;
  }

  &:hover {
    text-decoration: none;
  }
}

.job-status {
  display: inline-block;
  margin: 0 4px;

  & .mat-mini-fab {
    margin: 0 4px;
    width: 24px;
    height: 24px;
    line-height: 12px;
  }
}
