<mat-toolbar color="primary" class="mat-elevation-z6 row">
  <a routerLink="/" class="col s12 l3">
    <img src="/assets/adcm-logo.png" alt="Arenadata cluster manager" />
  </a>

  <mat-nav-list class="col s12 l6 top-menu">
    <a *ngFor="let item of items"
       mat-list-item
       class="top"
       [routerLink]="item.link"
       routerLinkActive="mat-warn">
      <span>{{ item.label }}</span>
    </a>
  </mat-nav-list>

  <span class="col s12 l3" [style.textAlign]="'right'">
    <ng-content></ng-content>
  </span>

</mat-toolbar>
